extends ./layout/core.pug

block content
  .list
    each item in list
      .item
        .item-title 歌名：
          if item.id
            a(target="_blank" href=`https://music.163.com/m/song?id=${item.id}`)=item.name
            unless item.nolisten
              span.item-listen(data-id=item.id) 试听
          else
            span=item.name

          if item.mv
            a(target="_blank" href=`https://music.163.com/m/mv?id=${item.mv}`) [MV]
        .item-artist 歌手：
          each artist in item.artist
            if artist.id
              a(target="_blank" href=`https://music.163.com/m/artist?id=${artist.id}`)=artist.name
            else
              span=artist
        .item-info
          if item.language
            span 语种：#{item.language}
          if item.duration
            span 时长：#{item.duration}
          if item.category
            span 分类：#{item.category}
        if item.album
          .item-album
            if item.album.id
              span 专辑名称：
                a(target="_blank" href=`https://music.163.com/m/album?id=${item.album.id}`)=item.album.name
              span 发行时间：#{item.album.date}
            else
              span 专辑名称：#{item.album}
        if item.intro
          .item-intro=item.intro
        if item.date
          .item-date 推荐时间：#{item.date}
        if item.lyrics
          .item-lyrics
            .lyrics-expand 查看歌词
            pre.lyrics-view=item.lyrics

    else
      .none 当前暂无推荐。
