extends ./layout/core.pug

block content
  .list
    each item in list
      .item
        .item-title 歌名：
          if item.id
            a(target="_blank" href=`https://music.163.com/m/song?id=${item.id}`)=item.name
            unless item.nolisten
              span.item-listen(data-id=item.id) 试听
          else
            span=item.name

          if item.mv
            a(target="_blank" href=`https://music.163.com/m/mv?id=${item.mv}`) [MV]
        .item-artist 歌手：
          each artist in item.artist
            if artist.id
              a(target="_blank" href=`https://music.163.com/m/artist?id=${artist.id}`)=artist.name
            else
              span=artist
        .item-info
          if item.language
            span 语种：#{item.language}
          if item.duration
            span 时长：#{item.duration}
          if item.category
            span 分类：#{item.category}
        if item.album
          .item-album
            if item.album.id
              span 专辑名称：
                a(target="_blank" href=`https://music.163.com/m/album?id=${item.album.id}`)=item.album.name
              span 发行时间：#{item.album.date}
            else
              span 专辑名称：#{item.album}
        if item.intro
          .item-intro=item.intro
        if item.date
          .item-date 推荐时间：#{item.date}
        if item.lyrics
          .item-lyrics
            .lyrics-expand 查看歌词
            pre.lyrics-view=item.lyrics

    else
      .none 当前暂无推荐。


    div(style="height:2000px")

//-block demo
  .item-info
    .item-title Strobe(4:04)
    .item-artist
      span Vexento
      span Katie McConnell
    .item-album
      span 专辑名称：Strobe
      span 发行时间：2018-08-04
  .item-intro 该曲听起来略为抓耳，女生的长气息咏唱，仿佛在诉说内心的等待。
  .item-lyrics
    .lyrics-expand 查看歌词
    textarea.lyrics-view.
      Why wait for the moment to pass
      为什么要让时光白白流逝
      I want it to start now start now
      我希望现在就能开始,就在此刻
      I want this feeling to last
      想要持续这种感觉
      Keep it alight now alight now
      让它熄灭吧,现在
      It's been to long
      已经很久了
      The chase has been drawn out enough
      你我之间的追逐到此已足够
      I'll wait till you move on
      我会在此等侯直到你离去
      Move on and turn this to dust
      继续前进并且把这些变为尘埃
      It's been too long
      时间如此之长
      It's been too long
      时间如此之长
      It's been to long
      够久了
      The chase has been drawn out enough
      你我的追逐游戏该到尽头了
      I'll wait till you move on
      我会在此等侯直到你离去
      Move on and turn this to dust
      继续前进并且把这些变为尘埃
      It's been too long
      这一切似乎太久
      It's been too long
      太久
